In [2]:
import pandas as pd 

df = pd.read_csv('data/solarpower.csv')
df

           date  cum_power
0    2017-01-01    20111.0
1    2017-01-02    20112.0
2    2017-01-03    20115.0
3    2017-01-04    20117.0
4    2017-01-05    20119.0
..          ...        ...
659  2018-10-22    28101.0
660  2018-10-23    28109.0
661  2018-10-24    28115.0
662  2018-10-25    28117.0
663  2018-10-26    28120.0

[664 rows x 2 columns]

In [3]:
for

           date  cum_power
45   2017-02-15       -1.0
647  2018-10-10       -1.0